<mat-toolbar>
  <span class="position-text">Welcome to "Find Movies"</span>
</mat-toolbar>

<mat-tab-group animationDuration="0ms" mat-align-tabs="center">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">home</mat-icon>
      Home
    </ng-template>
    <app-home></app-home>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">search</mat-icon>
      Search a movie
    </ng-template>
    <app-movie></app-movie>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">grade</mat-icon>
      Favorites
    </ng-template>
    <app-favoris></app-favoris>
  </mat-tab>
</mat-tab-group>
